/* 
Stylesheet for the free sNews15_1 template
from http://www.free-css-templates.com

Adapted for Bowtie by Ben Langmead.
*/

/* Reset all margins and paddings for browsers */
* { 
	padding: 0;
	margin: 0;
	font: .8em Verdana, Arial, Sans-Serif; 
	line-height: 1.6em; 
	padding-left: 8px;
	color: #555;
	background: #FFF;
	margin-right: 305px;
	margin-left: 0px;
	
}
#toc ol { list-style: roman }

h1 { padding: 15px 0 10px 0 }
h2 { padding: 15px 0 10px 0;
     color: #555;
     text-indent: 17px;
     background: #FFF url(../images/head.gif) no-repeat left; }
h3 { padding: 15px 0 10px 0;
     font-size: 100%;
     margin-left: 5px;
     text-indent: 17px;
     background: #FFF url(../images/head.gif) no-repeat left; }
ul { margin-left: 24px; padding-left 24px; list-style-type: circle }
li { }
p  { padding: 0px 0 10px 0 }
a  { color: #0066B3; background: inherit; text-decoration: none }
ol { margin-left: 24px;
     padding-left 24px;
     list-style: decimal }
blockquote { margin-left: 35px; font-family: "Courier New", Courier; }
tt         { font: .8em;        font-family: "Courier New", Courier; }
code       { font: .8em;        font-family: "Courier New", Courier; }
